.cont-home{
    background-color: rgb(180, 29, 214);
    flex: 1;
}
.cont-produtos{
    background-color: rgb(19, 160, 118);
    flex: 1;
}
.cont-contato{
    background-color: rgb(104, 122, 0);
    flex: 1;
}
.aura{
    background-color: red;
    flex: 1;
}